body {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), grey);
}

p {
    color: black;
    text-align: center;
}

p strong {
    font-size: 24px;
}

p3 {
    border: 3px black;
}

p4 {
    position: absolute;
    left: 40px;
    width: 400px;
}

p5 {
    position: absolute;
    left: 600px;
    width: 400px;

}

p6 {
    position: absolute;
    left: 1100px;
    width: 400px;
}

#ava {
    border-radius: 50%;
}

#first {
    position: absolute;
    margin-top: 100px;
    left: 40px;
    width: 400px;
    border: 1px solid grey;
}

p7 {
    position: absolute;
    margin-top: 340px;
    left: 40px;
    width: 400px;
}